.slideshow {
    width: 300px;
    height: 300px;
    margin: 0 20px 20px 0;
    float: left;
    position: relative;
}
.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
}
.slideshow alt {
    display: none;
}